<footer class="pt-5 bg-black text-white text-opacity-50">
  <div class="container">
    <!-- logo -->
    <div class="img mb-3">
      <img
        src="assets/Header.jpg"
        width="150px"
        style="background-color: black"
        alt=""
      />
    </div>

    <!-- **** -->
    <div class="row g-4 mb-3">
      <div class="col-md-4">
        <h3 class="mb-5 fw-semibold text-white">About Us</h3>
        <p>
          Lorem Ipsum Dolor Sit Amet , <br />
          Consetetur Sadipscing Elitr, Sed <br />
          Diam Nonumy Eirmod Tempor <br />
          Invidunt Ut Labore Et
        </p>

        <ul class="icons list-unstyled d-flex gap-3">
          <li>
            <i class="fab fa-facebook"></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          <li>
            <i class="fab fa-linkedin"></i>
          </li>
          <li>
            <i class="fab fa-snapchat"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5 fw-semibold text-white">Costumer Links</h3>
        <ul class="list-unstyled d-flex flex-wrap">
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">lates cars</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">Featured Cars</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">Buy a Car</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">Latest News</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">Services</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">About Us</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">Contact Us</a>
          </li>
          <li class="w-50 mb-4">
            <a href="" class="text-decoration-none text-reset">Parts Shop</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="mb-5 fw-semibold text-white">Costumer Links</h3>
        <p class="mb-3">
          Get Our Weekly Newsletter For Latest Car News Exclusive Offers And
          Deals And More.
        </p>

        <input
          class="p-3 mb-3"
          style="--brdr-clr: rgba(38, 103, 177)"
          type="text"
          placeholder="Your Email"
        />
        <button class="btn-blue fs-5">SUBSCRIBE</button>
      </div>
    </div>
    <!-- ***** -->

    <div class="d-lg-flex p-3 border-top border-1 gap-4">
      <p class="mb-0">© 2023 - AUTOMOTIVE THEME. ALL RIGHT RESERVED.</p>
      <ul
        class="list-unstyled mb-0 d-flex justify-content-lg-end flex-grow-1 gap-3"
      >
        <li>
          <a href="" class="text-reset text-decoration-none">SITE MAP</a>
        </li>
        <li>
          <a href="" class="text-reset text-decoration-none">PRIVACY POLICY</a>
        </li>
        <li>
          <a href="" class="text-reset text-decoration-none">TERMS</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
